/** Variable Imports **/
@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    padding: 40px 20;
}
.recipe-card{
    background-color: white;
    max-width: 736px;
    padding: 40px;
    border-radius: 24px;
}
.hero-image {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 20px;
    margin-bottom: 30px;
}
 h1{
    font-family:  'Young-Serif';
    color: hsl(0, 5%, 8%);
    margin-bottom: 24px;
    font-weight: 2;
    font-size: 32px;

 }
 h2{
    font-family: 'Young-Serif';
    color: hsl(14, 45%, 36%);
   
    margin-bottom: 16px;
    padding-top: 32px;

 }
 


p {
  color: hsl(30, 10%, 34%);
  line-height: 1.5; 
  margin-bottom: 24px;
  text-wrap: pretty;
}
.preparation-time {
  background-color: hsl(330, 100%, 98%);;
  padding: 32px;
  border-radius: 12px;
  margin: px;
  padding-top: 0px;
}
.preparation-time h2{
    color: hsl(332, 51%, 32%);
    margin-bottom: 16px;
    font-size: 1.25rem;

}
.preparation-time li::marker{
color: hsl(332, 51%, 32%);
}
.preparation-time li{
    margin-bottom: 8px;
    margin-left: 20px;
}
.ingredients ul li::marker{
    color: hsl(332, 51%, 32%);
    font-size: .8rem;
}
.ingredients ul {
  padding-left: 1rem;
}
.ingredients li{
  padding-left: 20px;
}
.instructions ol {
  padding-left: 1rem;
}
.instructions ol li::marker{
    color: hsl(332, 51%, 32%);
    font-weight: bolder;
    padding-left: 20px;
}
li{
    padding-left: 8px;
    margin-bottom: 8px;
    color: hsl(30, 10%, 34%);
}
.instructions li::marker{
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
}
.nutrition{
    margin-top: 32px;
    margin-left: px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}    
tr{
        border-bottom: 1px solid hsl(30, 18%, 87%);
}
tr:last-child{
    border-bottom: none;
}
td{
padding: 12px 24px;
text-align: left;
}
.stat{
    color: hsl(332, 51%, 32%);
    
}







@media (max-width: 375px) {
    body {
        padding: 0; 
    }

    .recipe-card {
        border-radius: 0;
        padding: 40px 24px; 
    }
    
    .hero-image {
        border-radius: 0;
        margin-top: -40px;  
        margin-left: -24px; 
        margin-right: -20px;
        width: calc(100% + 40px); 
    
    }
}


/** Attribution CSS **/
.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;

 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.rights {
  text-align: center;
  font-size: 0.85rem;
  color: white;
  margin-top: 2rem;
  background-color: black;
  border-radius: 10px;
}
